<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.account.mapper.AccountMapper">

    <insert id="createAccount" parameterType="map">
        INSERT INTO account (email, name, cname, type, imgUrl, memo, amount)
        VALUES (#{email}, #{request.name}, #{request.nickname}, #{request.type}, #{request.imgUrl}, #{request.memo},
                #{request.amount})
    </insert>

    <update id="updateAccount" parameterType="map">
        UPDATE account
        SET
            type = #{request.type},
            name = #{request.name},
            cname = #{request.nickname},
            amount = #{request.amount},
            memo = #{request.memo},
            imgUrl = #{request.imgUrl}
        WHERE ano = #{accountId}
    </update>

    <delete id="deleteAccount">
        DELETE
        FROM account
        WHERE ano = #{accountId}
    </delete>

    <!-- 이메일로 모든 계정 정보를 조회하는 SQL 쿼리 -->
    <select id="findAccountsByEmail" resultType="com.newdeal.ledger.account.dto.AccountResponse$GetOne" parameterType="String">
        SELECT
            ano as accountId,
            email,
            name,
            cname as nickname,
            type,
            imgUrl,
            memo,
            amount,
            isExcept
        FROM
            account
        WHERE
            email = #{email}
    </select>

</mapper>
