<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.cardaccount.mapper.CardMapper">

    <!-- 이메일로 모든 카드 정보를 조회하는 SQL 쿼리 -->
    <select id="findAllByEmail" resultType="com.newdeal.ledger.cardaccount.dto.CardDto" parameterType="String">
        SELECT cno,
               email,
               name,
               cname,
               type,
               bday AS bDay,
               imgUrl,
               memo,
               amount,
               isExcept
        FROM card
        WHERE email = #{email}
    </select>

    <insert id="createCard" parameterType="map">
        INSERT INTO card (email, name, cname, type, bday, imgurl, memo, amount)
        VALUES (#{email}, #{request.name}, #{request.cname}, #{request.type}, #{request.bday}, #{request.imgUrl},
                #{request.memo}, #{request.amount})
    </insert>

</mapper>
