<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.card.mapper.CardMapper">

    <insert id="createCard" parameterType="map">
        INSERT INTO card (email, name, cname, type, bday, imgurl, memo, amount)
        VALUES (#{email}, #{request.name}, #{request.cname}, #{request.type}, #{request.bday}, #{request.imgUrl},
                #{request.memo}, #{request.amount})
    </insert>

    <update id="updateCard" parameterType="map">
        UPDATE card
        SET
            type = #{request.type},
            name = #{request.name},
            cname = #{request.cname},
            bday = #{request.bday},
            imgUrl = #{request.imgUrl},
            memo = #{request.memo},
            amount = #{request.amount}
        WHERE cno = #{cardId}
    </update>

    <delete id="deleteCard">
        DELETE
        FROM card
        WHERE cno = #{cardId}
    </delete>


    <!-- 이메일로 모든 카드 정보를 조회하는 SQL 쿼리 -->
    <select id="findCardsByEmail" resultType="com.newdeal.ledger.card.dto.CardDto" parameterType="String">
        SELECT cno,
               email,
               name,
               cname,
               type,
               bday AS bDay,
               imgUrl,
               memo,
               amount,
               isExcept
        FROM card
        WHERE email = #{email}
    </select>

</mapper>
