<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.category.mapper.CategoryMapper">

    <!-- parent_cno가 null인 카테고리 리스트를 조회하는 쿼리 -->
    <select id="findCategories" resultType="com.newdeal.ledger.category.dto.CategoryDto">
        SELECT cno,
               type,
               name,
               parent_cno as parentCno
        FROM category
        WHERE parent_cno IS NULL
    </select>

    <select id="findCategoriesByType" resultType="com.newdeal.ledger.category.dto.CategoryDto"
            parameterType="String">
        SELECT cno,
               type,
               name,
               parent_cno as parentCno
        FROM category
        WHERE parent_cno IS NULL
          AND type = #{type}

    </select>

    <select id="findSubcategoriesByCategoryId" resultType="com.newdeal.ledger.category.dto.CategoryDto"
            parameterType="Integer">
        SELECT cno,
               type,
               name,
               parent_cno as parentCno
        FROM category
        WHERE parent_cno = #{categoryId}
    </select>

</mapper>
