<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.inquiry.mapper.InquiryMapper">
    <!--1. 문의게시판_전체리스트 가져오기 -->
    <select id="iSelectAll" resultType="com.newdeal.ledger.inquiry.dto.InquiryDto">
        SELECT * FROM qboard ORDER BY qbno DESC LIMIT 10 offset #{startContRowNum}
    </select>

    <!--1-ⓐ. 문의게시판 전체리스크 총갯수1 -->
    <select id="iSelectCountAll" resultType="int">
        select count(*) from qboard
    </select>

    <!--2. 문의게시판 게시글 1개 가져오기 -->
    <select id="iSelectOne" parameterType="int" resultType="com.newdeal.ledger.inquiry.dto.InquiryDto">
        select * from qboard where qbno =#{qbno}
    </select>
    <!--2-ⓐ. 문의게시판 게시글 조회수 1증가 -->
    <update id="iHitUp" parameterType="int">
        update qboard set qhit=qhit+1 where qbno=#{qbno}
    </update>

    <!--3. 문의게시판 게시글 1개 작성하기(feat.파일저장) -->
    <insert id="iWrite" useGeneratedKeys="true" keyProperty="qbno" >
        insert into qboard (email, qtitle,qcontent,qstatus,qfile,qhit) values ("jjsd@exam.com",#{qtitle},#{qcontent},0,null,0)
    </insert>

    <!--4. 문의게시판_게시글 1개 삭제하기 -->
    <delete id="iDelete" parameterType="int">
        delete from qboard where qbno = #{qbno}
    </delete>

    <!--5. 문의게시판_게시글 1개 수정하기 -->
    <update id="iDoUpdate">
        update qboard set qtitle=#{qtitle}, qcontent=#{qcontent},qdate=NOW() where qbno=#{qbno}
    </update>

    <!--6. 문의게시판_하단댓글 모두가져오기 -->
    <select id="iCommentSelectAll" parameterType="int" resultType="com.newdeal.ledger.inquiry.dto.CommentDto">
        select * from qcomment where qbno =#{qbno}
    </select>
    <!--6-ⓐ. 문의게시판_하단댓글 모두가져오기 -->
    <select id="iCommentContSelectAll" parameterType="int" resultType="int">
        select count(*) from qcomment where qbno=#{qbno}
    </select>


</mapper>
