<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.categorytag.mapper.TagMapper">

    <select id="findAllByEmail" resultType="com.newdeal.ledger.categorytag.dto.TagDto" parameterType="String">
        SELECT tno, email, name
        FROM tag
        WHERE email = #{email}
    </select>

    <insert id="createTag" parameterType="map">
        INSERT INTO tag (name, email)
        VALUES (#{request.name}, #{email})
    </insert>

    <update id="updateTag" parameterType="map">
        UPDATE tag
        SET name = #{request.name}
        WHERE tno = #{tagId}
    </update>

    <delete id="deleteTag">
        DELETE
        FROM tag
        WHERE tno = #{tagId}
    </delete>

    <delete id="deleteTransactionTagByTagId">
        DELETE
        FROM transactiontag
        WHERE tgno = #{tagId}
    </delete>

</mapper>
