<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newdeal.ledger.transaction.mapper.TransactionMapper">

    <select id="findAllByMonth" parameterType="map" resultType="com.newdeal.ledger.transaction.dto.TransactionListDto">
        SELECT
            t.tno,
            DATE (t.time) AS date,
            TIME (t.time) AS time,
            parent_c.name AS category,
            c.name AS subCategory,
            t.keyword AS keyword,
            t.samount AS amount,
            t.tsmemo as memo,
            CASE WHEN t.installment != 1 THEN '할부' ELSE '' END AS installment,
            GROUP_CONCAT(tg.name SEPARATOR ', ') AS tags
        FROM
            transaction t
        JOIN
            category c ON t.cno = c.cno
        JOIN
            category parent_c ON c.parent_cno = parent_c.cno
        LEFT JOIN
            transactiontag tstg ON t.tno = tstg.tsno
        LEFT JOIN
            tag tg ON tstg.tgno = tg.tno
        WHERE
            YEAR (t.time) = #{year}
            AND MONTH (t.time) = #{month}
            AND t.email = #{email}
        GROUP BY
        t.tno;
    </select>


    <select id="findAllSourceByEmail" parameterType="String" resultType="com.newdeal.ledger.transaction.dto.SourceDto">
        SELECT 'ACCOUNT' as sourceType,
               CASE type
                   WHEN 'MONEY' THEN 'MONEY'
                   ELSE 'ACCOUNT'
                   END as subSourceType,
               ano as sno,
               cname
        FROM account
        WHERE email = #{email}
        UNION
        SELECT 'CARD' as sourceType,
               CASE type
                   WHEN 'CREDIT' THEN 'CREDIT'
                   ELSE 'CHECK'
                   END as subSourceType,
               cno as sno,
               cname
        FROM card
        WHERE email = #{email}
    </select>

</mapper>
